div{
	border: 10px solid black;
	border-radius: 1000px;
	height: 100px;
	width: 100px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}



